@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Flatspot;
  src:
       url('../public/fonts/FlatspotNuovoTest-Roman.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GreyLL;
  src:
       url('../public/fonts/GreyLLTrialWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GreyLL;
  src:
       url('../public/fonts/GreyLLTrialWeb-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: Feature;
  src:
       url('../public/fonts/FeatureDeckCondTrial-Bold.woff') format('woff2');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

::selection{
  color: rgb(57, 26, 26);
  background-color: rgb(227, 227, 227);
  background-blend-mode: soft-light;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  font-family: Flatspot;
  letter-spacing: -.05rem;
}

.feature{
  font-family: Feature;
}
/* scrollbar stuff */

/* width */
::-webkit-scrollbar {
  height: .2rem;
  width: 0px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: #000000; 
}
::-webkit-scrollbar-thumb:hover {
  background: #323232; 
}

.times{
  font-family: 'Times New Roman', Times, serif;
}



@keyframes rotate{
  0%{
    transform: rotateX(0deg) rotateX(calc(var(--i)*126deg)) translateX(-10rem);

  }
  100%{
    transform: rotateX(360deg) rotateX(calc(var(--i)*126deg)) translateX(-10rem);
  }
}
