@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');


@font-face {
  font-family: Flatspot;
  src:
       url('../public/fonts/FlatspotNuovoTest-Roman.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GreyLL;
  src:
       url('../public/fonts/GreyLLTrialWeb-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GreyLL;
  src:
       url('../public/fonts/GreyLLTrialWeb-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: Feature;
  src:
       url('../public/fonts/FeatureDeckCondTrial-Bold.woff') format('woff2');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: Authentic;
  src:
       url('../public/fonts/authentic-sans-90.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Marlfield;
  src:
       url('../public/fonts/MarlfieldTRIAL-BoldCondensed.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

::selection{
  color: rgb(57, 26, 26);
  background-color: rgb(227, 227, 227);
  background-blend-mode: soft-light;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.playfair-display-400 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gelasio-400 {
  font-family: "Gelasio", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{

}

.sans{
  font-family: sans-serif;
}

.selection{
  background-color: white;
}

.feature{
  font-family: Feature;
}
/* scrollbar stuff */

/* width */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: #000000; 
}
::-webkit-scrollbar-thumb:hover {
  background: #323232; 
}

.times{
  font-family: 'Times New Roman', Times, serif;
}

.serif{
  font-family: Gelasio;
}

#footer div h2 a {
  color: white;
  background-color: rgb(75, 75, 79);
  padding: .1rem .35rem;
  cursor: alias;
}

#footer div h2 a:hover {
  color: black;
  background-color: white;
}

@keyframes rotate{
  0%{
    transform: rotateX(0deg) rotateX(calc(var(--i)*126deg)) translateX(-10rem);

  }
  100%{
    transform: rotateX(360deg) rotateX(calc(var(--i)*126deg)) translateX(-10rem);
  }
}
