@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');


@font-face {
  font-family: Monument Grotesk;
  src:
       url('../public/fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
       url('../public/fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: GreyLL Mono Book;
  src:
       url('../public/fonts/GreyMonoLLWeb-Book.woff2') format('woff2'),
       url('../public/fonts/GreyMonoLLWeb-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


::selection{
  color: rgb(0, 0, 0);
  background-color: rgb(224, 221, 21);
  background-blend-mode: soft-light;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



*{
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke: %23d1d5db; stroke-miterlimit: 10; stroke-width: .75px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M5.5,11.31s1-.32,1.36-.51c.21-.11.75-.54.75-.54.35-.18.78-.04.96.3l4.84,10.5c.16.34.28.7.36,1.08,0,0,.3,1.38.12,1.52-.08.07-.24.07-.43.06-.47-.03-.91-.24-1.26-.55-.57-.5-1.52-1.36-1.84-1.9l-5.17-9.03c-.18-.35-.05-.76.3-.94h0Z'/%3E%3Cpath class='cls-1' d='M5.98,9.58l-.79.39c-.45.22-.98.24-1.46.06l-.22-.09c-.84-.33-1.54-.94-1.97-1.72h0c-.85-1.54-1.02-3.35-.5-5.01L1.83.75l.38.72c.19.37.52.64.92.77h0c1.57.5,2.88,1.6,3.65,3.04h0c.59,1.13.58,2.47-.03,3.58h0c-.17.31-.44.57-.76.73h0Z'/%3E%3C/svg%3E"), auto;
}


button:hover{
  cursor: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23d1d5db; stroke: %23000; stroke-miterlimit: 10; stroke-width: .75px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M5.5,11.31s1-.32,1.36-.51c.21-.11.75-.54.75-.54.35-.18.78-.04.96.3l4.84,10.5c.16.34.28.7.36,1.08,0,0,.3,1.38.12,1.52-.08.07-.24.07-.43.06-.47-.03-.91-.24-1.26-.55-.57-.5-1.52-1.36-1.84-1.9l-5.17-9.03c-.18-.35-.05-.76.3-.94h0Z'/%3E%3Cpath class='cls-1' d='M5.98,9.58l-.79.39c-.45.22-.98.24-1.46.06l-.22-.09c-.84-.33-1.54-.94-1.97-1.72h0c-.85-1.54-1.02-3.35-.5-5.01L1.83.75l.38.72c.19.37.52.64.92.77h0c1.57.5,2.88,1.6,3.65,3.04h0c.59,1.13.58,2.47-.03,3.58h0c-.17.31-.44.57-.76.73h0Z'/%3E%3C/svg%3E"), pointer;
}
.serif{
  font-family: 'Times New Roman', Times, serif;
}

.mono{
  font-family: Monument Grotesk Semi-Mono;
}

.mono-book{
  font-family: GreyLL Mono Book;
}


.sans{
  font-family: Monument Grotesk;
  font-weight: 100;
}

.selection{
  background-color: white;
}


.feature{
  font-family: Feature;
}
/* scrollbar stuff */

/* width */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: #000000; 
}
::-webkit-scrollbar-thumb:hover {
  background: #323232; 
}

.times{
  font-family: 'Times New Roman', Times, serif;
}

a{
  text-decoration: none;
  /* color: inherit; */
}

.notSanity a {
  font-family: GreyLL Mono Book;
  color: black;
  text-decoration: underline;
  white-space: nowrap;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .1rem .2rem;
}


.notSanity a:hover{
  color: #d1d5db;
  background-color: black;
}
 
/* @media screen and (max-width: 1024px) {
  .footer a {
    font-size: .8rem;
    padding: .1rem .1rem;
    color: #d1d5db;
  }

    .footer a:hover {
    font-size: .8rem;
    padding: .1rem .1rem;
    color: black;
    background-color: #d1d5db;
  }
  
} */

@keyframes rotate{
  0%{
    transform: rotateX(0deg) rotateX(calc(var(--i)*126deg)) translateX(-10rem);

  }
  100%{
    transform: rotateX(360deg) rotateX(calc(var(--i)*126deg)) translateX(-10rem);
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  to { transform: rotate(360deg); }
}